
.thumbnail{
    width: 45%;
    
}
.texto{
    padding: 0 2%;
    font-size:0.8em; 
    text-align: start;   
}
.rotulo{
    font-size:0.8em;
}
.icone{
    width: 100%; 
}
.pizzaTamanho{
    font-size:0.7em;
}
.pizzaTamanho1{
    width: 30%;
   
}

.pizzaTamanho2{
    width: 20%;
}
.pizzaTamanho3{
    width:17%;
    align-items:right;
}
.texto-tamanho{
   padding-right: 0%;
    font-size: 1em;
   }
.cardapio{
    padding-left: 5%;
}
.doce{
    padding-top: 5px;
}
.sair{
padding-right:  30%; 
width: 5%;
}
.padding{
padding-top: 1%; ;
}
